@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YASC.Web</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" asp-controller="Verification" asp-action="Index">YASC</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" is-active-route asp-controller="Verification" asp-action="Index">
                <a class="nav-link" asp-controller="Verification" asp-action="Index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" is-active-route asp-controller="Home" asp-action="About">
                <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
            </li>
            <li class="nav-item" is-active-route asp-controller="RecurringAlert">
                <a class="nav-link" asp-controller="RecurringAlert" asp-action="Index">Alerts</a>
            </li>
        </ul>
        <div class="my-2 my-lg-0">
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>
<div class="container">
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - <a href="https://www.lukebearl.com">Luke Bearl</a></p>
        </footer>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/tether/dist/js/tether.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
   

@RenderSection("Scripts", required: false)
</body>
</html>
