@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <button type="submit" class="btn btn-outline-warning">Log out</button>
    </form>
}
else
{

        <a asp-controller="Account" asp-action="Register" class="btn btn-outline-primary">Register</a>
        <a asp-controller="Account" asp-action="Login" class="btn btn-outline-secondary">Log in</a>
}
