@model YASC.Models.CertificateStatusViewModels.CertificateStatusRequestVm

@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<h3>View Certificate</h3>

@if (!string.IsNullOrEmpty(Model?.Url) && ViewData.ModelState.IsValid)
{
    <div class="alert alert-warning">
        The URL: @Model?.Url was not found. Please re-verify it.
    </div>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Verification" asp-action="Result" method="post">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon">https://</div>
            <input class="form-control" type="text" asp-for="Url" placeholder="www.example.com" />
        </div>
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-primary">Check</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}