@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>YASC is <em>Y</em>et <em>A</em>nother <em>S</em>SL <em>C</em>hecker. It is meant as a quick utility to either check the current health of a certificate or provide scheduled reports/updates about a certificate for a given domain.</p>

<h3>Author</h3>
YASC is written by <a href="http://www.bearl.me">Luke Bearl</a>. If you have any questions, reach out on <a href="https://www.twitter.com/lukebearl">Twitter</a>.
Note that this project is a playground for new technologies including ASP.NET Core 1.1, Bootstrap 4 (alpha), and others. I make no warranty about it working currently or continuing to work in the future.
The code behind this project is MIT licensed, and can be found on <a href="https://www.github.com/lbearl">My Github</a>, please fork it if you want.
